*{
  margin: 0;
  padding: 0;
}
.carouselContainer{
  width:100%;
  height:70vh;
  background-size:cover;
  background-position:center;
}
.container1{
  background-image:url(https://mobirise.com/extensions/commercem4/assets/images/1.jpg);

}
.container2{
  background-image:url(https://mobirise.com/extensions/commercem4/assets/images/3.jpg);

}
.container3{
  background-image:url(https://i03.appmifile.com/388_operator_in/27/07/2023/b565de9a02c7dbe785b07c45cd91363e.jpg?f=webp);

}
.card{
  width:20vw;
  height:45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 2.5vw;
  margin-bottom: 4vh;
  .cardContainer{
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    
  }
  .cardContainer img {
    width: 100%;
    height: 100%;
   
  }
}
.NavBarContainer{
  /* border:2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 2%; */
  align-items: center;
  position: absolute;
  top:3%;

  .Navbar{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* border:2px solid green; */
    width: 70%;
    
    .categories{
      margin-left: 3vw;
      margin-right: 3vw;
    }
    .cart{
      margin-left: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}